/target/
.idea
.vscode
.settings
/bin/
/dist/
/tmp/

natives
*.log
*.iml
*.tar.gz
resource/cache
.DS_Store
*.class
**/target/
**/bin/
**/dist/
**/tmp/
**/resource/cache/
**/resource/logs/
**/resource/logs/